body{
    font-size: 15px;
}
.address{
    text-align: right;
    white-space: pre;
}
.appeal{
    font-weight: bold;
    text-decoration: underline;
    font-size: 17px;
}
.text{
    text-indent: 1.5em;
    font-family: 'Bad Script', cursive;
    text-align: justify;
}